@import '../colors.scss';
@import '../mixins.scss';

.meta {
    max-width: 100%;
    width: 100%;
    padding: 4rem 0 2rem;
    margin: -4rem 0 0;
    transform: translateY(6rem);
    background-color: $color-light-1;
    color: lighten($color-black, 50%);

    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: .8em;

    &::after {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: skewY(calc(var(--footerSkew) * -0.6));
        transform-origin: left top;
        background-color: inherit;
    }

    &_inner {
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        max-width: 64rem;
        padding: 0 1.45rem 6rem;
        margin: 0 auto;
    }

    p:first-of-type {
        margin-top: 0;
	}

}