@import '../colors.scss';
@import '../mixins.scss';

.intro {
	position: relative;
	z-index: 2;
	display: block;
	padding-top: calc(var(--headerHeight) + 2rem);
	margin-bottom: 4rem;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100vw;
		left: calc(-1 * ((100vw - 100%) / 2));
		height: 120%;

		background-color: $color-light-1;
	}
}