@import '../colors.scss';
@import '../mixins.scss';

.article {
	@include article();

	h1, h2 {
		display: block;
		position: relative;
		clear: both;

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 2px;
			left: -2rem;
			background-color: $color-black;
			box-sizing: border-box;
		}
	}
	h1::before {
		top: 12px;
		bottom: 15px;
	}
	h2::before {
		top: 8px;
		bottom: 13px;
	}

	li {
		position: relative;
		counter-increment: li;
		margin-left: 1.45rem;
		margin-bottom: 1.45rem;

		&::before {
			content: "■";
			position: absolute;
			transform: translateX(-1.45rem);
			top: 0;
			color: $color-blue;
		}
	}

	code {
		display: inline-block;
		color: $color-pink;
	}

	strong {
		font-weight: 700;
	}
}